<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Security Toolkit</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

<div class="container">

    <h1>🔐 Password Security Toolkit</h1>

    <p class="subtitle">Check, Generate & Secure Your Password</p>

    <form method="POST">

        <div class="password-box">

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="button" id="toggleBtn">👁</button>

        </div>

        <div class="progress">

            <div id="strength-bar"></div>

        </div>

        <h3 id="percentage">
    {% if percentage %}
        Strength : {{ percentage }}%
    {% else %}
        Strength : 0%
    {% endif %}
         </h3>

        <ul class="rules">

            <li id="length">❌ Minimum 8 Characters</li>

            <li id="upper">❌ One Uppercase Letter</li>

            <li id="lower">❌ One Lowercase Letter</li>

            <li id="number">❌ One Number</li>

            <li id="special">❌ One Special Character</li>

        </ul>

        <div class="buttons">

            <button type="button" id="generateBtn">
                🎲 Generate Password
            </button>

            <button type="button" id="copyBtn">
                📋 Copy
            </button>

        </div>

        <button class="check-btn" type="submit">

            Check Password

        </button>

    </form>

    {% if result %}

    <div class="result">

        <h2>{{ result }}</h2>

    </div>

    {% endif %}

    <div class="tips">

        <h3>💡 Security Tips</h3>

        <ul>

            <li>Use at least 12 characters.</li>

            <li>Include uppercase & lowercase letters.</li>

            <li>Add numbers and symbols.</li>

            <li>Avoid your name or birthday.</li>

            <li>Never reuse passwords.</li>

        </ul>

    </div>

    <div class="history">

        <h3>📜 Password History</h3>

        <ul id="historyList">
    {% for item in history %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

    </div>

    <button id="themeBtn" type="button">

        🌙 Dark Mode

    </button>

</div>

</body>
</html>
